In [1]:
5+5

10

In [2]:
5-5

0

In [1]:
sales = [150, 200, 170, 180, 190, 210, 160]

In [2]:
sales

[150, 200, 170, 180, 190, 210, 160]

In [3]:
type(sales)

list

In [6]:
def avg_sales(sales):
    if len(sales)==0:
        return 0
    return round(sum(sales)/len(sales), 2)

print(avg_sales(sales))

180.0

In [18]:
# get the floating value 

average = avg_sales(sales)

In [20]:
print(f"{average:.2f}")

180.00

In [15]:
fruits = ['apple','banana','orange','watermelon','mango']

In [17]:
print("Fruits:",fruits)

Fruits: ['apple', 'banana', 'orange', 'watermelon', 'mango']

In [18]:
for i in fruits:
       print([i])

['apple']
['banana']
['orange']
['watermelon']
['mango']

In [22]:
for i in fruits:
    i.upper()
    print([i])

['apple']
['banana']
['orange']
['watermelon']
['mango']

In [26]:
for i in fruits:
    print(i.upper())

APPLE
BANANA
ORANGE
WATERMELON
MANGO

In [27]:
for item in fruits:
    print(item.lower())

apple
banana
orange
watermelon
mango

In [34]:
fruits[-1]

'mango'

In [43]:
for item in fruits:
    lastChar = item[-1]
    print("word: {}, lastChar: {}".format(item, lastChar))
    print(item + 'Love')

word: apple, lastChar: e
appleLove
word: banana, lastChar: a
bananaLove
word: orange, lastChar: e
orangeLove
word: watermelon, lastChar: n
watermelonLove
word: mango, lastChar: o
mangoLove

In [50]:
for item in fruits:
    lastchar = item[-1]
    if  lastchar == 'e':
        print("{} Love".format(item))
    else:
        print(item)

apple Love
banana
orange Love
watermelon
mango

In [32]:
years = [
    "2018-2022",#yes
    "2019-2022",#yes
    "2021-2023",#still in school
    "2018-2022",#yes
    "2021-2023",#still in school
    "2016-2021",#yes
    "2017-2019" #no
    
]

In [33]:
years

['2018-2022',
 '2019-2022',
 '2021-2023',
 '2018-2022',
 '2021-2023',
 '2016-2021',
 '2017-2019']

In [43]:
for item in years:
    end_year = item[-4:9]
    if end_year == '2022' or end_year == '2021':
        print("{} - Yes".format(item))
    elif end_year <= '2021':
        print("{} - Still in school".format(item))
    else:
        print("{} - No".format(item))

2018-2022 - Yes
2019-2022 - Yes
2021-2023 - No
2018-2022 - Yes
2021-2023 - No
2016-2021 - Yes
2017-2019 - Still in school

In [55]:
type(years)

list

In [82]:
data = {
    'Column1': [1, 2, None, 4, 5],
    'Column2': [None, 6, 7, None, 9],
    'Column3': [10, 11, 12, 13, 14]
}

In [83]:
data

{'Column1': [1, 2, None, 4, 5],
 'Column2': [None, 6, 7, None, 9],
 'Column3': [10, 11, 12, 13, 14]}

In [126]:
for key,value in data.items():
    count = 0
    for v in value:
        if v is None:
            print("coming here")
            count = count + 1
    if count > 0:
        print("type: {}, count: {}".format(v, count))
        
   # print(key, value)

coming here
type: 5, count: 1
coming here
coming here
type: 9, count: 2

In [132]:
count = 0
for key,value in data.items():
    for empty in value:
           if empty is None:
            count = count + 1
print("Total empty value is {}".format(count))

Total empty value is 3

In [133]:
data

{'Column1': [1, 2, None, 4, 5],
 'Column2': [None, 6, 7, None, 9],
 'Column3': [10, 11, 12, 13, 14]}

In [135]:
for key,value in data.items():
    count = 0
    for v in value:
        count = count + 1
    print(key,count)

Column1 5
Column2 5
Column3 5

In [80]:
for item in years:
    year_end = item[-4:9]
    if year_end == '2022' or year_end == '2021':
        print("{} Yes".format(item))
    elif year_end >= '2023':
        print("{} Still in School".format(item))
    else:
        print("{} No".format(item))

2018-2022 Yes
2019-2022 Yes
2021-2023 Still in School
2018-2022 Yes
2021-2023 Still in School
2016-2021 Yes
2017-2019 No

In [179]:
import pandas as pd

cat = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
    'Values': [10, 20, 30, 40, 50, 60]
}

data = pd.DataFrame(cat)

grouped_data = data.groupby('Category')['Values'].sum()

sorted_data = grouped_data.sort_values(ascending= False)

In [180]:
sorted_data

Category
B    120
A     90
Name: Values, dtype: int64

Notes: 

The reason the result shows Category as the "column name" rather than the actual values next to it is because of how Pandas handles the output of groupby() and sum() operations. Specifically:

Index vs. Column: When you perform a groupby() operation in Pandas, the grouped column (in this case, Category) becomes the index of the resulting Series or DataFrame, not a regular column. The Values are then aggregated based on this index.
Here’s a breakdown of why this happens:

The GroupBy Process:
Grouping by Category:

The Category column becomes the index of the resulting Series after performing the groupby() operation.
Summing Values:

The sum() function aggregates the Values for each Category. The result is a Series where the index is Category, and the aggregated values are displayed next to it.


Category as Index: In the output, Category is not a column name 
but the index of the Series. The index labels each row, and the aggregated Values 
are displayed beside each index entry.


If you want to explicitly see Category as a column rather than an index, you can reset the index of the Series:

In [181]:
sorted_data = sorted_data.reset_index()

In [182]:
sorted_data

  Category  Values
0        B     120
1        A      90

Interview prep

In [183]:
lst = [2, 33, 222, 14, 25]

In [184]:
lst

[2, 33, 222, 14, 25]

In [187]:
for item in lst:
    X = item - 1
    print(X)

1
32
221
13
24

In [193]:
for x in range (101):
        if x % 2 != 0:
            print("{} is odd".format(x))

1 is odd
3 is odd
5 is odd
7 is odd
9 is odd
11 is odd
13 is odd
15 is odd
17 is odd
19 is odd
21 is odd
23 is odd
25 is odd
27 is odd
29 is odd
31 is odd
33 is odd
35 is odd
37 is odd
39 is odd
41 is odd
43 is odd
45 is odd
47 is odd
49 is odd
51 is odd
53 is odd
55 is odd
57 is odd
59 is odd
61 is odd
63 is odd
65 is odd
67 is odd
69 is odd
71 is odd
73 is odd
75 is odd
77 is odd
79 is odd
81 is odd
83 is odd
85 is odd
87 is odd
89 is odd
91 is odd
93 is odd
95 is odd
97 is odd
99 is odd

In [196]:
# unique list 
lst = [ 1, 2, 3, 6 , 7, 3, 5, 2, 7]

In [200]:
unique_values = list(set(lst))
unique_values

[1, 2, 3, 5, 6, 7]